/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v14-latin-regular.woff2') format('woff2'),
       url('../fonts/lato-v14-latin-regular.woff') format('woff'),
       url('../fonts/lato-v14-latin-regular.ttf') format('truetype');       
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v14-latin-700.woff2') format('woff2'),
       url('../fonts/lato-v14-latin-700.woff') format('woff'),
       url('../fonts/lato-v14-latin-700.ttf') format('truetype');       
}

body {
  font-family: 'Lato', sans-serif;
  color: #333333;
}

#intro {
  position: relative;
  height: auto;
  padding: 5px;
  margin: 0 0 0 20px;
}

#intro h1 {
  color: #333333;
  margin: auto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em; 
}

#intro p {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25em;
  max-width: 700px;
}

a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: #02818a;
}

a:visited {
  color: #02818a;
}

a:focus {
  border-bottom: 1px dotted;  
}

a:hover {
  border-bottom: 1px dotted;     
}

a:active {
  color: #016c59;
}

.axis text {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.tick line {
  stroke: #333333;
}

.axis path {
  stroke: #333333;
}

.tooltip {
  position: absolute;
  padding: 2px;
  width: 140px;
  font-size: 13px;
  pointer-events: none;
  background: #ffffff;
}

.tooltip p {
  margin: 0;
  padding: 0;
}

.legend {
  font-size: 13px;
}

#source {
  position: relative;
  height: auto;
  padding: 5px;
  margin: 0 0 0 20px;
}

#source p {
  color: #333333;
  font-size: 12px;
  font-weight: 400;
  line-height: 1em;
}